body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  position: relative;
  width: 100%;
  background: url("/images/images.jpg") no-repeat center/cover;
  height: 200px;
  display: flex;
  align-items: center;
}
.header h1 {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 28px;
  font-weight: bold;
}

.menu {
  margin: 0;
  display: flex;
  justify-content: center;
  background: #adf539;
  padding: 10px;
  list-style: none;
}
.menu li {
  position: relative;
  padding: 10px 20px;
  list-style: none;
}
.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.menu li:hover {
  background: rgb(112, 246, 172);
}
.vertical_menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ff6600;
  list-style: none;
  width: 150px;
  text-align: center;
}
.vertical_menu li {
  padding: 7px;
}
.vertical_menu li:hover {
  background: rgb(158, 242, 86);
}
.vertical_menu a {
  color: black;
}
.vertical_menu a:hover {
  color: white;
}
.menu li:hover .vertical_menu {
  display: block;
}
nav li:hover .vertical_menu {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 10px;
}

footer {
  position: relative;
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  clear: both;
}
